@model ApplicationRequestIt.Models.Aanvraag
@using ApplicationRequestIt.Utility
@{
    ViewData["Title"] = "Edit";
}

@if (Model.IsVraag == true)
{
    <h2>Pas de vraag aan</h2>
}
else
{
    <h2>Pas aanvraag aan</h2>
}<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="table-responsive">

            @*@if (Model.Status.Naam.Equals("Afgesloten"))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Titel" class="control-label"></label>
                    <input asp-for="Titel" readonly class="form-control" />
                    <span asp-validation-for="Titel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Omschrijving" class="control-label"></label>
                    <textarea asp-for="Omschrijving" readonly class="form-control"></textarea>
                    <span asp-validation-for="Omschrijving" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aanmaakdatum" class="control-label"></label>
                    <input type="datetime" asp-for="Aanmaakdatum" readonly class="form-control" />
                    <span asp-validation-for="Aanmaakdatum" class="text-danger"></span>
                </div>

                @if (User.IsInRole(SD.AdminEndUser) || User.IsInRole(SD.BehandelaarEndUser))
                {
                    <div class="form-group">
                        <label asp-for="StartDatum" class="control-label"></label>
                        <input type="datetime" asp-for="StartDatum" class="form-control" />
                        <span asp-validation-for="StartDatum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EindDatum" class="control-label"></label>
                        <input type="datetime" asp-for="EindDatum" class="form-control" />
                        <span asp-validation-for="EindDatum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkVoorbeeldKlant" class="control-label"></label>
                        <input asp-for="LinkVoorbeeldKlant" class="form-control btn-link" />
                        <span asp-validation-for="LinkVoorbeeldKlant" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkVoorbeeldBehandelaar" class="control-label"></label>
                        <input asp-for="LinkVoorbeeldBehandelaar" class="form-control btn-link" />
                        <span asp-validation-for="LinkVoorbeeldBehandelaar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusList"></select>
                        <span asp-validation-for="StatusId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Toegewezen behandelaars</label>
                        @foreach (var behandelaar in Model.AanvraagBehandelaars)
                    {
                            <label class="input form-control">
                                @Html.DisplayFor(modelItem => behandelaar.Behandelaar.Voornaam)
                                <label> </label>
                                @Html.DisplayFor(modelItem => behandelaar.Behandelaar.Achternaam)

                                <button asp-action="RemoveBehandelaar" type="submit" class="close" aria-label="Close" asp-route-bid="@behandelaar.Behandelaar.Id" asp-route-isAlles="@ViewBag.isAlles" asp-route-index="@ViewBag.index" asp-route-isToegezen="@ViewBag.isToegezen"><span aria-hidden="true">&times;</span></button>
                            </label>
                        }
                    </div>
                    <div class="form-group">
                        <label class="control-label">Andere Behandelaars</label>
                        <select asp-for="BehandelaarId" class="form-control" asp-items="ViewBag.BehandelaarId">
                            <option selected value=""> -- Selecteer --</option>
                        </select>
                        <button asp-action="AddBehandelaar" type="submit" class="btn grey" asp-route-isAlles="@ViewBag.isAlles" asp-route-index="@ViewBag.index" asp-route-isToegezen="@ViewBag.isToegezen">Voeg Toe</button>
                        <span asp-validation-for="BehandelaarId" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="StartDatum" class="control-label"></label>
                        <input type="datetime" asp-for="StartDatum" class="form-control datepicker" />
                        <span asp-validation-for="StartDatum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EindDatum" class="control-label"></label>
                        <input type="datetime" asp-for="EindDatum" class="form-control datepicker" />
                        <span asp-validation-for="EindDatum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkVoorbeeldKlant" class="control-label"></label>
                        <input asp-for="LinkVoorbeeldKlant" class="form-control btn-link" />
                        <span asp-validation-for="LinkVoorbeeldKlant" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkVoorbeeldBehandelaar" class="control-label"></label>
                        <input asp-for="LinkVoorbeeldBehandelaar" readonly class="form-control" />
                        <span asp-validation-for="LinkVoorbeeldBehandelaar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="StatusId" class="form-control" disabled asp-items="ViewBag.StatusList"></select>
                        <input asp-for="StatusId" type="hidden" class="form-control" />
                        <span asp-validation-for="StatusId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AanvraagBehandelaars" class="control-label"></label>
                        @foreach (var behandelaar in Model.AanvraagBehandelaars)
                    {
                            <label class="input form-control">
                                @Html.DisplayFor(modelItem => behandelaar.Behandelaar.Voornaam)
                                <label> </label>
                                @Html.DisplayFor(modelItem => behandelaar.Behandelaar.Achternaam)
                            </label>
                        }
                    </div>
                }

                <div class="form-group">
                    <input asp-for="UserId" type="hidden" class="form-control" />
                    @if (ViewBag.isEnabled)
                {
                        <input type="submit" value="Pas aan" class="btn blue" asp-route-isAlles="@ViewBag.isAlles" asp-route-index="@ViewBag.index" asp-route-isToegezen="@ViewBag.isToegezen" />

                    }
                    else
                    {
                        <label>De gebruiker van de aanvraag is niet actief. Contacteer de admin om de gebruiker te activeren.</label>
                    }
                    @if (ViewBag.isAlles == true)
                {
                        <a asp-action="IndexAllAanvragen" asp-controller="Aanvraags" class="btn green">Terug naar overzicht</a>
                    }
                    else if (ViewBag.index == true)
                    {
                        <a asp-action="Index" asp-controller="Aanvraags" class="btn green">Terug naar overzicht</a>
                    }
                    else if (ViewBag.isToegezen == true)
                    {
                        <a asp-action="IndexToegewezen" asp-controller="Aanvraags" class="btn green">Terug naar overzicht</a>
                    }

                </div>
            }*@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Omschrijving" class="control-label"></label>
                <textarea asp-for="Omschrijving" class="form-control"></textarea>
                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aanmaakdatum" class="control-label"></label>
                <input type="datetime" asp-for="Aanmaakdatum" readonly class="form-control" />
                <span asp-validation-for="Aanmaakdatum" class="text-danger"></span>
            </div>

            @if (User.IsInRole(SD.AdminEndUser) || User.IsInRole(SD.BehandelaarEndUser))
            {
                <div class="form-group">
                    <label asp-for="StartDatum" class="control-label"></label>
                    <input type="datetime" asp-for="StartDatum" class="form-control" />
                    <span asp-validation-for="StartDatum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EindDatum" class="control-label"></label>
                    <input type="datetime" asp-for="EindDatum" class="form-control" />
                    <span asp-validation-for="EindDatum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkVoorbeeldKlant" class="control-label"></label>
                    <input asp-for="LinkVoorbeeldKlant" class="form-control btn-link" />
                    <span asp-validation-for="LinkVoorbeeldKlant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkVoorbeeldBehandelaar" class="control-label"></label>
                    <input asp-for="LinkVoorbeeldBehandelaar" class="form-control btn-link" />
                    <span asp-validation-for="LinkVoorbeeldBehandelaar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusList"></select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Toegewezen behandelaars</label>
                    @foreach (var behandelaar in Model.AanvraagBehandelaars)
                    {
                        <label class="input form-control">
                            @Html.DisplayFor(modelItem => behandelaar.Behandelaar.Voornaam)
                            <label> </label>
                            @Html.DisplayFor(modelItem => behandelaar.Behandelaar.Achternaam)

                            <button asp-action="RemoveBehandelaar" type="submit" class="close" aria-label="Close" asp-route-bid="@behandelaar.Behandelaar.Id" asp-route-isAlles="@ViewBag.isAlles" asp-route-index="@ViewBag.index" asp-route-isToegezen="@ViewBag.isToegezen"><span aria-hidden="true">&times;</span></button>
                        </label>
                    }
                </div>
                <div class="form-group">
                    <label class="control-label">Andere Behandelaars</label>
                    <select asp-for="BehandelaarId" class="form-control" asp-items="ViewBag.BehandelaarId">
                        <option selected value=""> -- Selecteer --</option>
                    </select>
                    <button asp-action="AddBehandelaar" type="submit" class="btn grey" asp-route-isAlles="@ViewBag.isAlles" asp-route-index="@ViewBag.index" asp-route-isToegezen="@ViewBag.isToegezen">Voeg Toe</button>
                    <span asp-validation-for="BehandelaarId" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="StartDatum" class="control-label"></label>
                    <input type="datetime" asp-for="StartDatum" class="form-control datepicker" />
                    <span asp-validation-for="StartDatum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EindDatum" class="control-label"></label>
                    <input type="datetime" asp-for="EindDatum" class="form-control datepicker" />
                    <span asp-validation-for="EindDatum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkVoorbeeldKlant" class="control-label"></label>
                    <input asp-for="LinkVoorbeeldKlant" class="form-control btn-link" />
                    <span asp-validation-for="LinkVoorbeeldKlant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkVoorbeeldBehandelaar" class="control-label"></label>
                    <input asp-for="LinkVoorbeeldBehandelaar" readonly class="form-control" />
                    <span asp-validation-for="LinkVoorbeeldBehandelaar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="StatusId" class="form-control" disabled asp-items="ViewBag.StatusList"></select>
                    <input asp-for="StatusId" type="hidden" class="form-control" />
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AanvraagBehandelaars" class="control-label"></label>
                    @foreach (var behandelaar in Model.AanvraagBehandelaars)
                    {
                        <label class="input form-control">
                            @Html.DisplayFor(modelItem => behandelaar.Behandelaar.Voornaam)
                            <label> </label>
                            @Html.DisplayFor(modelItem => behandelaar.Behandelaar.Achternaam)
                        </label>
                    }
                </div>
            }

            <div class="form-group">
                <input asp-for="UserId" type="hidden" class="form-control" />
                @if (ViewBag.isEnabled)
                {
                    <input type="submit" value="Pas aan" class="btn blue" asp-route-isAlles="@ViewBag.isAlles" asp-route-index="@ViewBag.index" asp-route-isToegezen="@ViewBag.isToegezen" />

                }
                else
                {
                    <label>De gebruiker van de aanvraag is niet actief. Contacteer de admin om de gebruiker te activeren.</label>
                }
                @if (ViewBag.isAlles == true)
                {
                    <a asp-action="IndexAllAanvragen" asp-controller="Aanvraags" class="btn green">Terug naar overzicht</a>
                }
                else if (ViewBag.index == true)
                {
                    <a asp-action="Index" asp-controller="Aanvraags" class="btn green">Terug naar overzicht</a>
                }
                else if (ViewBag.isToegezen == true)
                {
                    <a asp-action="IndexToegewezen" asp-controller="Aanvraags" class="btn green">Terug naar overzicht</a>
                }

            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
